body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.wrapper {
  max-width: 500px;
  margin: 50px auto;
}

.app-wrapper {
  max-width: 480px;
  padding: 40px 40px;
  border-radius: 5px;
  background: linear-gradient(
    178deg,
    rgba(201, 234, 252, 0.51) 14.9%,
    rgba(139, 192, 216, 0.73) 80%
  );
}

.search-box {
  margin-bottom: 20px;
  display: flex;
}

#search-bar {
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  display: inline-block;
}

.fa-location-dot,
.search-button {
  height: 40px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
}

.search-button {
  padding: 2px 15px;
  font-size: 14px;
  background-color: #385170;
  color: white;
}

.fa-location-dot {
  width: 35px;
  background-color: #407088;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 38.5px;
}

.fa-location-dot:hover,
.search-button:hover {
  opacity: 50%;
  cursor: pointer;
}

h1 {
  color: #385170;
  font-size: 38px;
}

#sky-description {
  margin: 0;
  text-transform: capitalize;
}

.main-description {
  color: #596e79;
}

.main-info {
  text-align: center;
}

.main-temperature {
  display: flex;
}

.main-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.main-temperature .active:hover {
  text-decoration: none;
}

#temperature {
  font-size: 70px;
  line-height: 85px;
  color: #385170;
  font-weight: bold;
}

.units {
  position: relative;
  top: 15px;
  right: -10px;
}

.weather-image {
  display: block;
  margin: 0 auto;
  width: 70px;
}

.weather-conditions {
  margin-top: 25px;
  margin-bottom: 0;
  text-align: center;
  font-size: 16px;
}

.conditions-icons {
  margin: 5px auto;
  width: 30px;
  margin-bottom: 10px;
}

.card {
  display: block;
  text-align: center;
  margin-top: 10px;
  opacity: 70%;
  background-color: #e0ebeb;
  border: none;
  color: #000;
}

.forecast-day {
  font-weight: bold;
  margin: 5px auto;
}

.forecast-icon {
  width: 30px;
  margin: 5px auto;
}

.forecast-max {
  margin: 0 auto;
}

.forecast-min {
  font-size: 14px;
  color: #596e79;
}
