body {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 500px;
    margin: 50px auto;
}

.app-wrapper {
    max-width: 450px;
    padding: 40px 40px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.search-box {
    display: flex;
}

.search-bar {
    width: 240px;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.fa-location-dot, .search-button {
    height: 40px; 
    border: none;
    margin-left: 10px;
    border-radius: 5px;
}

.search-button {
    padding: 2px 15px;
    font-size: 14px;
    background-color: #385170;
    color: white; 
}

.fa-location-dot {
    width: 35px;
    background-color: #407088;
    color: white; 
    font-size: 20px;
    text-align: center;
    line-height: 38.5px;
}

h1 {
    color: #385170;
    font-size: 38px;
}

.weather-basics {
    color: #596e79; 
}

.weather-basics p {
    margin: 0 auto;
}

#temperature {
    font-size: 70px;
    line-height: 5px;
}

.weather-conditions {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

 .emoji {
    margin: 5px auto;
    font-size: 24px;
 }

 .fa-wind {
    color: #9ba6a5;
    margin-top: 10px;
 }

 .day {
    text-align: center;
 }